@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

body {
  background: #151E3D;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  font-size: 1.6rem;
  background-repeat: no-repeat;
  font-family: 'Saira Condensed', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

  
